<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swipetab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mycheezburger.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.PageIndicatorDefaultsTabBlue" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mycheezburger.activity.ItemDetailActivity"
            android:label="@string/title_activity_item_detail" >
        </activity>
        <activity
            android:name="com.example.mycheezburger.adapter.ItemAdapter"
            android:label="@string/title_activity_item_adapter" >
        </activity>
        <activity
            android:name="com.example.mycheezburger.activity.UserProfileActivity"
            android:icon="@drawable/cheezburger_logo_png"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.example.mycheezburger.activity.FollowersActivity"
            android:icon="@drawable/cheezburger_logo_png"
            android:label="@string/title_activity_followers"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.example.mycheezburger.activity.FollowingActivity"
            android:icon="@drawable/cheezburger_logo_png"
            android:label="@string/title_activity_following"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
    </application>

</manifest>
